body{
    font-family: 'Roboto' sans-serif;
    font-size: 21px;
    font-weight: 400 black;
    text-align:center ;

}
h1{
    font-size: 45px;
    margin-top: 40px;
    color: white;
    


}   
h2{
    font-size: 42px; 
    border-top: 2px solid #c4c4c4;
    border-bottom: 2px solid #c4c4c4;
    

    
    
}
h3{
    font-size: 36px;
    margin-bottom: 5px;

}
.small{
    font-size: 16px;
    color: #99d930;
}
.container{
    width: 700px;
    margin:0 auto;
    text-align: center;
}
header{
    background-color: #252525;
    color: #fff;
    padding: 50PX;

}
img{
    width: 500px;
    height: 500px;
    border-radius: 50px;
    
     
}

a{
    font-size: 30px;
    font-weight: 500;
    color: #00d930;
}
a:hover{
    color: white;
}

header{


    margin: 0px;
} 
.about-me1 {

background-color:#ffeaea;
padding: 50px ;
}
.article{
    
    background-color: #252525;
    padding: 50px;
    color: #fff;
    

}
.heading{
    margin-bottom: 10px;
    font-weight: 100;

}
.heading1{
    font-weight: bold;
    font-size: 80px;
    line-height: 1.2;
    color: #99d930;;
}
.heading2{
    font-weight: bold;
    font-size: 80px;
    line-height: 1.2;
    color: #99d930;
    

}
.heading3{
    font-weight: bold;
    font-size: 80px;
    line-height: 1.2;
    color: #99d930;
    
}
button{
    text-decoration: none;
    color: #252525;
    background-color: #99d930;
    font-size: 25px;
}
 button:hover{ 
     color: #fff; 
    background-color:#252525 ; 
}
